<div class="container">
  <div *ngIf="previewUrl" class="col s12">
    <img [src]="previewUrl">
  </div>

  <form method="post" [formGroup]="form" (ngSubmit)="uploadFileToActivity()">

    <div class="file-field input-field col s12">
      <div class="btn">
        <span>File</span>
        <input type="file" id="file" formControlName="file" accept="image/*"
               (change)="handleFileInput($event.target.files)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" formControlName="filePath">
      </div>
    </div>

    <div class="input-field col s12">
      <input id="description" type="text" formControlName="description">
      <label for="description">Description</label>
    </div>

    <div class="input-field col s12">
      <select multiple id="categories" formControlName="categories">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
      <label for="categories">Choose category</label>
    </div>

    <button mz-button [disabled]="form.invalid" type="submit"
    >Upload<i class="material-icons right">send</i>
    </button>

  </form>
</div>
