<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Send email to photographer</h4>
  </mz-modal-header>
  <mz-modal-content>
    <form id="form" method="post" [formGroup]="form" (ngSubmit)="send()">
      <div class="input-field col s12">
        <input
          id="email"
          type="email"
          formControlName="email"
          [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid,
               valid: form.get('email').valid}"
        >
        <label for="email">Your Email</label>
      </div>
      <div class="input-field col s12">
        <input
          id="phone"
          type="text"
          formControlName="phone"
        >
        <label for="phone">Your Phone</label>
      </div>
      <mz-textarea-container>
      <textarea mz-textarea class="white-text"
                id="text"
                length="255"
                formControlName="text"
                [label]="'Your message'"
                [ngClass]="{invalid: form.get('text').touched && form.get('text').invalid,
                valid: form.get('text').valid}"
      ></textarea>
      </mz-textarea-container>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button type="submit" form="form"
            [disabled]="form.invalid"
    ><i mz-icon [icon]="'send'" [align]="'right'"></i>
      Send
    </button>
  </mz-modal-footer>
</mz-modal>
