<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <div class="container">
        <a routerLink="/" class="brand-logo">fullpx</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/browse']">Browse</a></li>
          <li><a routerLink="/cabinet/upload"><i class="material-icons">cloud_upload</i></a></li>
          <ng-container *ngIf="!auth.isAuthenticated(); else signed">
            <li><a routerLink="/cabinet">Log In</a></li>
            <li><a routerLink="/sign-up" class="btn">Join free</a></li>
          </ng-container>
          <ng-template #signed>
            <li><a [routerLink]="['/cabinet', 'dashboard']"><i class="material-icons">account_box</i></a></li>
            <li><a href="#" class="btn" (click)="logout($event)">Log out</a></li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/">Browse</a></li>
  <li><a routerLink="/cabinet/upload">Upload</a></li>
</ul>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer grey darken-4">
  <div class="footer-copyright">
    <div class="container center">
      © 2019 Copyright Text
    </div>
  </div>
</footer>
